<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>

	<div class="container wrapper list">
		{{ partial "head.html" . }}
		<h1 class="title">{{ .Title }}</h1>

		<a href="/events/{{ .Params.eventNumber }}/info/">توضیحات رویداد</a>
		
		<div class="gallery">
			{{ if .File.Dir }}
				{{ $basename := (print "/events/images/" .Params.eventNumber "/") }}
				{{ if (fileExists (print "./assets" $basename)) }}
					{{ range (readDir (print "./assets" $basename )) }}
						{{$imageName := index (split .Name ".") 0}}
						<div class="gallery-column">
							{{ with resources.Get (print ($basename | relURL) .Name) }}
								<a href="{{ .RelPermalink }}" target="_blank">
								{{ with .Resize "300x" }}
									<img src="{{ .RelPermalink }}" height="150" />
								{{ end }}

								{{ $imageName }}
							</a>
							{{ end }}
						</div>
				
					{{ end }}
					
				{{ end }}
			
			{{ end }}
		
		</div>
	
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
