<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>

	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h1>{{ .Data.Term }}</h1>
		{{ else }}
			<h1 class="page-title">تصاویر جلسه {{ .Params.eventNumber }}</h1>
		{{ end }}
		
		<div class="gallery">
			{{ if .File.Dir }}
				{{ $basename := (print "/events/images/" .Params.eventNumber "/") }}
				{{ if (fileExists (print "./static" $basename)) }}
					{{ range (readDir (print "./static" $basename )) }}
						<div class="gallery-column">
							<a href="{{ $basename | relURL }}{{ .Name }}" target="_blank">
								<img src="{{ $basename | relURL }}{{ .Name }}"/>
								{{ index (split .Name ".") 0 }}
							</a>
						</div>
				
					{{ end }}
					
				{{ end }}
			
			{{ end }}
		
		</div>
	
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
