<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>

	<div class="container wrapper list">
		{{ partial "head.html" . }}
		<h1 class="title">{{ .Title }}</h1>

		<a href="/events/{{ .Params.eventNumber }}/info/">توضیحات رویداد</a>
		
		<div class="gallery">
			{{ if .File.Dir }}
				{{ $basePath := print "events/images/" .Params.eventNumber "/*" }}
				{{ $images := resources.Match $basePath }}
				{{ range $images }}
					{{ $img := resources.GetMatch . }}

					{{ if and $img (eq $img.MediaType.SubType "jpeg") }}  {{/* Ensure it's an image */}}
						<div class="gallery-column">
							<a href="{{ $img.RelPermalink }}" target="_blank">
								{{ with $img.Resize "300x" }}
									<img src="{{ .RelPermalink }}" height="150" />
								{{ end }}

								{{ $filename := path.Base $img }}
								{{ $filename }}
							</a>

						</div>
				
					{{ end }}
					
				{{ end }}
			
			{{ end }}
		
		</div>
	
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
