<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		<ul class="posts">
			{{ if .File.Dir }}
				{{ if (fileExists (print "./static/events/images/")) }}
					{{ range (readDir (print "./static/events/images")) }}
						<li class="post-summary">
							<a href="/events/{{.Name}}/gallery">جلسه {{partial "persianNumber.html" .Name}}</a>
						</li>
					{{ end }}
				{{ end }}
			{{ end }}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
