<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
		</div>

		<div class="markdown">
			{{ .Content }}
		</div>

		{{ if (isset .Params "registerlink") }}
			<a href="{{ .Params.RegisterLink }}" target="_blank">ثبت‌نام رایگان</a>
		{{ end }}

		{{ if (and (isset .Params "eventdate") (isset .Params "starttime") (isset .Params "endtime")) }}
			<p>زمان برگزاری: {{ .Params.EventDate }}  از ساعت: {{ .Params.StartTime }} تا {{ .Params.EndTime }}</p>
		{{ end }}

		{{ if (isset .Params "address") }}
			<p>آدرس: {{ .Params.Address }} </p>
		{{ end }}

		{{ if (and (isset .Params "lat") (isset .Params "lng")) }}
			<a href="geo:{{ .Params.Lat }},{{ .Params.Lng }}" target="_blank">باز کردن نقشه</a>
			<br>

			<iframe class="map" frameborder= 0
				src="https://www.openstreetmap.org/export/embed.html?bbox={{ sub .Params.Lng .Site.Params.MapView }},{{sub .Params.Lat .Site.Params.MapView }},{{add .Params.Lng .Site.Params.MapView }},{{add .Params.Lat .Site.Params.MapView }}&layer=mapnik&marker={{ .Params.Lat }},{{ .Params.Lng }}">
			</iframe>
		{{ end }}
		

		<div class="post-tags">
			<nav class="nav tags">
				<ul class="flat">
					<li><a href="{{ "/location/" | relLangURL }}{{ . | urlize }}">{{ .Params.Location }}</a></li>
				</ul>
			</nav>		
		</div>

		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if gt .Params.Speaker 0 }}
					<nav class="nav tags">
							<ul class="flat">
								{{ range .Params.Speaker }}
								<li><a href="{{ "/speaker/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
					</nav>
				{{ end }}
			{{ end }}
		</div>


		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if gt .Params.Topic 0 }}
					<nav class="nav tags">
							<ul class="flat">
								{{ range .Params.Topic }}
								<li><a href="{{ "/topic/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
					</nav>
				{{ end }}
			{{ end }}
		</div>
	
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
