<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper tags">
		{{ partial "head.html" . }}

		{{ $biggest := 4 }}
		{{ $smallest := 1 }}
		{{ $max := -1 }}
		{{ $counter := -2 }}

		{{ $data := .Data }}
		<div class="tag-cloud">
		{{ range $key, $value := .Data.Terms.ByCount }}
			{{ if lt $counter 0 }}
				{{ $counter = add $counter 1 }}
				{{ $max = (div $value.Count $biggest) }}
			{{ end }}
			
			{{ (add  (div $value.Count $max) $smallest) }}
			{{ $size := (add  (div $value.Count $max) $smallest) }}
			<a style="font-size: {{ $size }}rem;" 
				href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{ $value.Name }} {{ partial "persianNumber.html" $value.Count }}</a>
		{{ end }}
		</div>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
