<div class="post-summary">
	<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a>
	<br>
	<span class="description">	
		{{ if isset .Params "eventdate" }}
			تاریخ: <bdi>{{ partial "persianNumber.html" .Params.EventDate }}</bdi>
			<br>
		{{ end }}

		{{ if gt .Params.Locations 0 }}
			محل: <a href="/locations/{{ index .Params.Locations 0 | urlize}}">{{ index .Params.Locations 0 }}</a>
			<br>
		{{ end }}
		
		{{ if ne .Type "page" }}
			{{ if gt .Params.Speakers 0 }}
				{{ $count := len .Params.Speakers }}
				{{ if gt $count 1 }}
					ارائه دهندگان:
				{{ else }}
					ارائه دهنده:
				{{ end }}
				{{ range $index, $element :=  .Params.Speakers }}
					<a href="{{ "/speakers/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ if ne $index (sub $count 1) }}
						،
					{{ end }}

				{{ end }}

			{{ end }}

			<br>
	
		{{ end }}

		{{ if ne .Type "page" }}
			{{ if gt .Params.Topics 0 }}
				{{ $count := len .Params.Topics }}
				{{ if gt $count 1 }}
					موضوعات:
				{{ else }}
					موضوع:
				{{ end }}
				{{ range $index, $element := .Params.Topics }}
					<a href="{{ "/topics/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ if ne $index (sub $count 1) }}
						،
					{{ end }}
				
				{{ end }}
			
			{{ end }}
	
		{{ end }}
		
	</span>
</div>