<div class="post">
	<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a>
	<br>
	<span class="description">	
		{{ if isset .Params "eventdate" }}
			تاریخ: <bdi>{{ partial "persianNumber.html" .Params.EventDate }}</bdi>
		{{ end }}
		
		<br>

		{{ if isset .Params "location"  }}
			محل: <a href="/location/{{.Params.Location | urlize}}">{{ .Params.Location }}</a>
		{{ end }}

		<br>
		
		{{ if ne .Type "page" }}
			{{ if gt .Params.Speaker 0 }}
				{{ $count := sub (len .Params.Speaker) 1 }}
				{{ if eq $count 1}}
					ارائه دهندگان:
				{{ else }}
					ارائه دهنده:
				{{ end }}
				{{ range $index, $element :=  .Params.Speaker }}
					<a href="{{ "/speaker/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ if ne $index  $count }}
						و
					{{ end }}

				{{ end }}

			{{ end }}

		{{ end }}

		<br>
	
		{{ if ne .Type "page" }}
			{{ if gt .Params.Topic 0 }}
				{{ $count := sub (len .Params.Topic) 1 }}
				{{ if eq $count 1}}
					موضوعات:
				{{ else }}
					موضوع:
				{{ end }}
				{{ range $index, $element :=  .Params.Topic }}
					<a href="{{ "/topic/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ if ne $index  $count }}
						و
					{{ end }}
				
				{{ end }}
			
			{{ end }}
	
		{{ end }}
		
	</span>
</div>