<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="recent-posts section">
			<h2 class="section-header">
				اخبار و جلسات
			</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $index, $element :=  $paginator.Pages }}

					{{ if eq .Type "news" }}
						<div class="post-summary">
							<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a>
							<br>
							<span class="description">
								{{ if isset .Params "description" }}
								{{ .Description }}
								{{ else }}
								{{ .Summary }}&hellip;
								{{ end }}
							</span>
						</div>
					
					{{ else }}

						{{ if eq $index 0 }}
							{{ partial "itemfull.html" . }}
						{{ else }} 
							{{ partial "itemmini.html" . }}
						{{ end }}
						
					{{ end }}

				{{ end }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
